page-home {
    #quiz{
        background: url('http://globalmedicalco.com/photos/globalmedicalco/2/8568.jpg');
        background-size: cover;
    background-position: center;
    }
    #submit{
        text-align: center;
        font-size: 25pt;
        margin-left: 25%;
        width: 50%;
        border-radius: 25px;
       
    }
    #results{
        text-align: center;
        font-size: 15pt;
    }
    .time{
        text-align: center;
        font-size: 20pt;
        
    }
}
